nav {
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ddd;
}

.container button {
    width: 40px;
    height: 40px;
}

.toggle {
    position: absolute;
    right: 50px;
    top: -10px;
}

.toggle::after,
.toggle::before {
    content: '';
    height: 1.3px;
    background-color: var(--secondry-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.toggle::after {
    width: 15px;
    top: 35%;
}

.toggle:hover:after {
    width: 30px;
}

.toggle::before {
    width: 30px;
    bottom: 35%;
}

.navbar-toggler-icon {
    display: none !important;
}


nav a {
    color: var(--main-color) !important;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav img {
    max-width: 100%;
    max-height: 100%;
}

nav .last-nav {
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: #fff !important;
    margin-left: 20px;
    border-radius: 10px;
    width: fit-content;
    flex: -1;
}

@media (max-width : 991px) {
    nav .last-nav {
        margin: auto;
    }
}

nav .last-nav:hover {
    background-color: transparent;
    color: var(--main-color) !important;
    transition: .3s;
}